 <link rel="stylesheet" href="assets/stylesheets/articles.scss" />
 
 <header id="header" class="alt">
				<div class="inner">
					<h1>Text Storage</h1>
				</div>
 </header><center>
<a href="../articles/new" class="button big">New</a>
<a href="../articles" class="button big">List</a>
</center>