<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="assets/stylesheets/articles.scss" />
    </head>
<body>
    
    <header id="header" class="alt">
				<div class="inner">
					<h1>Text Storage</h1>
				</div>
			</header>
    
<table>
    <tr>
        <th>보낸이</th>
        <th>내용</th>
        <th>show</th>
    </tr>
    
    <% @articles.each do |article| %>
    <tr>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        <td><%= link_to 'show', article_path(article) %></td>
    </tr>
    <% end %>
</table>

<center>
<%= link_to '문자 보내기', new_article_path %>
</center>
</body>
</html>